{% extends "base.template.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block body %}
    <div>

        <div>
            <a href="{{path('accueilTest')}}" id="exitSerie"><button type="button">Valider Serie</button></a>
        </div>
        {{form_start(formPicture)}}
        <button class="validPicture" >Validation Picture </button>
        {{form_end(formPicture)}}

    </div>
    <div class="container">
        <div class="row" id="contentPicture">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('script/js/artiste.js')}}"></script>
{% endblock %}