<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kar:sm{% endblock %}</title>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{{ asset('/script/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('/script/css/main.css') }}" />       
        {% endblock %}        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://use.fontawesome.com/720a2db289.js"></script>

    </head>


    <body>        
        <div class="container-fluid">       
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="row navigation">
                        <div class="  col-xs-2  col-md-2  col-lg-2  ">
                            <img src="{{ asset('script/img/logo.png') }}" alt="logo" width="45%">

                            {#      {% block nav %}   
                                      {%if app.user.username is defined%} #}
                        </div>

                        {#      <h4>Bienvenue  {# {{app.user.username}} </h4> #} 
                        {#   {% endif %} #}

                        {#    {% if is_granted('ROLE_USER') %} #}
                        <div class="navUSER"> 
                            <div class="liensNAV col-xs-offset-1 col-xs-2  col-md-offset-1 col-md-2  col-lg-offset-1 col-lg-2 ">
                                {#       <a href="{{ path('') }}">Rechercher</a> #} Rechercher </div>
                            <div class="liensNAV col-xs-2  col-md-2  col-lg-2  center-block ">
                                {#     <a href="{{ path('') }}">Devenez hôte</a> #} Devenez hôte </div>
                            <div class="liensNAV col-xs-2   col-md-2   col-lg-2   ">
                                {#    <a href="{{ path('') }}">Notifications</a> #} Notifications </div>
                        </div>

                        <div class="col-xs-offset-1 col-xs-2 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 dropdown">
                            <button class="btn btn-default dropdown-toggle btn btn-link text-left " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <a href="http://placehold.it"><img class="roundedimg" src="http://placehold.it/60x60"></a> 
                                Romain Duris <span class="caret"> </span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Mes Expos</a></li>
                                <li><a href="#">Ma Wishlist</a></li>
                                <li><a href="#">Mes Playlists</a></li>
                                <li><a href="#">Mon Profil</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 


        </div>
        {#      {% else %}  {# si pas connecté boutton conexion #}
        <p><button class="btn  btn-md col-xs-2 col-sm-2 col-md-2 col-lg-2  " data-toggle="modal" data-target="#LOGpopup">Connexion</button></p>

        <div class="modal fade" id="LOGpopup" tabindex="-1" role="dialog" aria-labelledby="titrePopUp" aria-hidden="true">
            <div class="modal-dialog"> 
                <div class="modal-content">          
                    <div class="modal-header"> 
                        <h4 class="modal-title" id="titrePopUp">Connexion a Kar:sm 
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> </h4>
                    </div>  


                    <div class="modal-body"> 
                        <p class="lead"> 
                        <form action="{{ path('loginCheck') }}" method="post">
                            <form action="{{ path('loginCheck') }}" method="post">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="_username" {# value="{{ app.user.username }}" #}/>

                                <label for="password">Password:</label>
                                <input type="password" id="password" name="_password" />

                                {#
                                    If you want to control the URL the user
                                    is redirected to on success (more details below)
                                    <input type="hidden" name="_target_path" value="/account" />
                               #}

                                <button type="submit">login</button>
                            </form> 
                    </div>
                    <div class="modal-footer"> 

                    </div> 
                </div> 
            </div> 
            {#    {% endif %}        
            {% endblock %}    #}  

        </div>
    </div> 
</div>




 {% block body %}   {% endblock %}

<footer class="footerr pull-left"> 
    <div class="row footerr">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h5>  A propos </h5><br><p class="footerr">  Les EXPOS à la MAISON est une plateforme de mise en relation entre artistes et particuliers qui s’articule autour d’une galerie d’art en ligne.</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h5> En savoir plus </h5><br>  
            <p class="footerr">     Charte <br> FAQ <br> </p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h5> Contact </h5><br> 
                <i class="fa fa-phone" aria-hidden="true">      07 81 02 72 15  </i> 
                <br>
               <i class="fa fa-envelope-o" aria-hidden="true">      contact@karism.fr  </i> 
            </p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="{{ asset('script/img/logo.png') }}" alt="logo" width="45%">
            <br>
            <br>
            <div class="Icon">
                <i class="fa fa-facebook-square fa-3x pad" aria-hidden="true"></i> 

                <i class="fa fa-instagram fa-3x pad" aria-hidden="true"></i>

                <i class="fa fa-twitter-square fa-3x orange" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>
</div>

{% block javascripts %}        
    <script src="{{ asset('script/jquery/jquery.js') }}"></script>
    <script src="{{ asset('script/js/bootstrap.js') }}"></script>
    <script src="{{ asset('script/js/angular.min.js') }}"></script>
{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>
