<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kar:sm{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/script/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('/script/css/templateInspinia.css') }}" />
            <link rel="stylesheet" href="{{ asset('/script/css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('/script/css/animate.css') }}" />
            <link rel="stylesheet" href="{{ asset('/script/css/font-awesome-animated.css') }}" />
            <link rel="stylesheet" href="{{ asset('/script/js/plugins/sweetalert/sweetalert_1.css') }}" />

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {#        {% if is_granted("ROLE_USER") %}#}
        {% block nav %}


            <div class="row resetMargin col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="navBar" class="testkk ">
                    <div  class="row navigation">
                        <div class="col-xs-2 col-sm-4 col-md-5 col-lg-5 ">

                            <a href="{{path('accueilTest')}}"><img src="/web/images/source/logoKarism.png" height="42" width="130"></a></div>
                                {% if is_granted("ROLE_ARTISTE") 
                                    or is_granted('ROLE_USER')
                                    or is_granted('ROLE_ADMIN')
                                    or is_granted('ROLE_ARTISTE')
                                    or is_granted('ROLE_HOTE') %}
                        <div style="top:5px;"class="col-xs-4 col-sm-4 col-md-4 col-lg-5"data-animation="flash"><h4><a class="retourAccueil text-primary" href="{{ path('accueilTest') }}">Bonjour {{ app.user.username|upper}}</a></h4></div>
                                    {%else%}
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5 "><h4><a class="text-warning retourAccueil" href="{{ path('accueilTest') }}">Bienvenue sur KARISM</a></h4></div>
                                        {% endif %}
                                            {% if is_granted("ROLE_ARTISTE") 
                                    or is_granted('ROLE_USER')
                                    or is_granted('ROLE_ADMIN')
                                    or is_granted('ROLE_ARTISTE')
                                    or is_granted('ROLE_HOTE') %}
                                            {% if is_granted('ROLE_USER') is not empty %}
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 dropdown"><a href="/profil/{{app.user.id}}"><img class="roundedimg" src="/web/images/profilPictures/{{app.user.profilPicture}}"></a>

                                        <button class="btn btn-default dropdown-toggle btn btn-link text-left " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {{ app.user.username }}<span class="caret"> </span>
                                        </button>
                                        <ul class="dropdown-menu text-warning" aria-labelledby="dropdownMenu1">
                                            <li><a href="/profil/{{app.user.id}}">Profil</a></li>
                                                {% if is_granted("ROLE_ADMIN") %}
                                                <li><a href="{{ path('admin') }}">Panneaux d'administration</a></li>
                                                {% endif %}
                                                {% if is_granted("ROLE_HOTE") %}
                                                <li><a href="{{ path('hotePlaces') }}">Mes lieux</a></li>
                                                <li><a href="">Mes expos</a></li>
                                                {% else %}
                                                <li><a href="{{path('requestHote')}}">Devenir Hote</a></li>
                                                {% endif %}
                                                {% if not is_granted("ROLE_ARTISTE")%}
                                                <li><a href="{{ path('requestArtiste') }}">Devenir Artiste</a></li>
                                                {% endif %}
                                                {% if is_granted("ROLE_ARTISTE") %}
                                                <li><a href="{{ path('getSeriesUser') }}">Mes séries</a></li>
                                                {% endif %}

                                            <li class="bg-warning"><a href="{{ path('logout') }}">Déconnexion</a></li>
                                        </ul>
                                    {% endif %}

                                    {% if is_granted("ROLE_ADMIN") %}

                                        <a href="{{ path('admin') }}"> <button class="btn btn-w-m btn-warning">Panneaux d'administration</button></a>


                                    {% endif %}


                                    {%else%}
                                        <p class="text-center" ><a href="{{ path('register') }}">S'inscrire</a></p>
                                        <p class="text-center" ><a href="{{ path('login') }}">Se connecter</a></p>
                                        {% endif %}
                                        </div>
                                    </div>

                                    {% if is_granted('ROLE_USER') is not empty %}
                                        <button style="z-index:1000;"class=" btn btn-primary btn-nav navbar-toggler navbar-toggle-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <i class="fa fa-bars" aria-hidden="true"></i>

                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarNav">
                                            <div  class="navbar-nav col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                                <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
                                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 dropdown text-warning">

                                                    <button class="btn btn-outline dropdown-toggle btn-link text-left faa-parent animated-hover" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <i  class="fa fa-fire fa-2x faa-float" aria-hidden="true"></i><div id="show"><p>Exposition <span class="caret"> </span></p></div>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        {% if is_granted("ROLE_ARTISTE") %}
                                                            <li><a href="{{ path('selcetionListeExpo')}}">Expo Artiste</a></li>
                                                            {% endif %}
                                                            {% if is_granted("ROLE_HOTE") %}
                                                            <li><a href="{{ path('demandeExpos') }}">Expo Hote</a></li>
                                                            {% endif %}
                                                        <li><a href="{{ path('getDemande') }}">Gestionnaire d'invitation</a></li>

                                                </div>

                                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 dropdown text-warning">

                                                    <button class="btn btn-outline dropdown-toggle btn btn-link text-left faa-parent animated-hover " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <i class="fa fa-user-o fa-2x faa-float" aria-hidden="true"></i><div id="show"><p>Profil <span class="caret"> </span></p></div>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        {% if is_granted("ROLE_USER") %}
                                                            <li><a href="/profil/{{app.user.id}}">Mon profil</a></li>
                                                            <li><a href="{{ path('profilEdit') }}">Editer mon profil</a></li>
                                                            {% endif %}

                                                </div>
                                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 dropdown text-warning">
                                                    <button class="btn btn-outline btn btn-link text-left  " >
                                                        <a class="text-warning faa-parent animated-hover " href="/recherche"><i class="fa fa-search fa-2x faa-float" aria-hidden="true"></i><div id="show"><p>Rechercher</p></div></a>
                                                    </button>
                                                </div>
                                                {% if is_granted("ROLE_ARTISTE") or is_granted("ROLE_HOTE")%}
                                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 dropdown text-warning">

                                                        <button class="btn btn-outline dropdown-toggle btn-link text-left faa-parent animated-hover " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            <i class="fa fa-picture-o fa-2x faa-float" aria-hidden="true"></i><div id="show"><p>Contenu <span class="caret"></span></p></div>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                            {% if is_granted("ROLE_ARTISTE") %}
                                                                <li><a href="{{ path('getSeriesUser')}}">Mes séries</a></li>
                                                                {% endif %}
                                                                {% if is_granted("ROLE_HOTE") %}
                                                                <li><a href="{{ path('hotePlaces') }}">Mes Lieux</a></li>
                                                                {% endif %}
                                                                {% if not is_granted("ROLE_HOTE")%}    
                                                                {%endif%} 

                                                    </div>
                                                {%endif%}
                                                {% if not is_granted("ROLE_ARTISTE") %}
                                                    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2  text-warning">
                                                        <button type="button" class="btn btn-block btn-outline btn-primary faa-parent animated-hover"><i class="fa fa-picture-o faa-burst" aria-hidden="true"></i><h4>Devenir Artiste</h4></button>
                                                    </div>{% endif %}
                                                    {% if not is_granted("ROLE_HOTE") %}
                                                        <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 dropdown text-warning">
                                                            <a class="text-warning" href="{{path('requestHote')}}"><button type="button" class="btn btn-block btn-outline btn-warning faa-parent animated-hover"><i class="fa fa-home faa-burst" aria-hidden="true"></i><h4>Devenir Hôte</h4></button></a>
                                                        </div>{% endif %}
                                                        <div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
                                                    {% endif %}
                                                    {#{% if is_granted("ROLE_USER") %}
        
                                                        {% if  is_granted("ROLE_ARTISTE")%}
                                                            <li class="nav-item ">
                                                                <a class="text-warning" href="{{ path('selcetionListeExpo')}}">Mes exops artiste</a>
                                                            </li>
                                                            <li class="nav-item ">
                                                                <a class="text-warning" href="{{ path('getSeriesUser') }}">Mes séries</a>
                                                            </li>
        
                                                        {% else%}
                                                            <li class="nav-item ">
                                                                <a class="text-warning" href="{{ path('requestArtiste') }}">Devenir Artiste</a>
                                                            </li>     
                                                        {% endif %}
                                                        {% if not is_granted("ROLE_HOTE")%}
                                                            <li class="nav-item active">
                                                                <a class="text-warning" href="{{path('requestHote')}}">Devenir Hôte</a>
                                                            </li>      
        
                                                        {%else%}
                                                            <li class="nav-item ">
                                                                <a class="text-warning" href="{{path('demandeExpos')}}">Mes exops Hote</a>
                                                            </li>
                                                            <li class="nav-item ">
                                                                <a class="text-warning" href="{{ path('hotePlaces') }}">Mes lieux</a>
                                                            </li>
        
                                                        {% endif %}
                                                        {% if is_granted("ROLE_USER") is not empty %}
                                                            <li class="nav-item ">
                                                                <a class="text-warning" href="/profil/{{app.user.id}}">Mon Profil</a>
                                                            </li>
                                                            <li class="nav-item ">
                                                                <a class="text-warning" href="{{ path('profilEdit') }}">Editer mon Profil</a>
                                                            </li>
                                                            <li>
                                                                <a class="text-warning" href="{{ path('getDemande') }}">Gestionnaire d'invitation</a>
                                                            </li>
        
        
                                                        {% endif %}
                                                    {% endif %}#}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endblock %}
                                    {% block body %}{% endblock %}
                                    {% block footer %}
                                        <footer id="footer" class="panel-footer footerColor footerText footerissticky"> 
                                            <div class="container-fluid">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <h5><strong>A propos</strong></h5>
                                                    <p>Les EXPOS à la MAISON est une plateforme de mise en relation entre artistes et particuliers qui s’articule autour d’une galerie d’art en ligne.
                                                        Ce projet d’art, fondé par Sellah Alidor (collectif FROM PARIS) et Thibault Chazal</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                    <h5><strong>En savoir plus</strong></h5> 
                                                    <p><a class="footerText" href="{{path('charteTest')}}">Charte</a></p>
                                                    <p><a class="footerText" href="{{path('interrogationTest')}}">FAQ</a></p>
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                    <h5><strong>Contact</strong></h5>
                                                    <p><i class="fa fa-mobile" aria-hidden="true"></i> 07 81 02 72 15</p>
                                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@karism.fr</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                    <div class="text-center">
                                                        <a style="background:orange;" href="{{path('accueilTest')}}"><img src="/web/images/source/logoKarism.png" width="130"></a>

                                                        <p><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> 
                                                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </footer>
                                    {% endblock %}





                                    {% block javascripts %}        
                                        <script src="{{ asset('script/jquery/jquery.js') }}"></script>
                                        <script src="{{ asset('script/js/bootstrap.js') }}"></script>
                                        <script src="{{ asset('script/js/angular.min.js') }}"></script>
                                        <script src="{{ asset('script/js/footer.js') }}"></script>
                                        <script src="{{asset('script/js/plugins/pace/pace.min.js')}}"></script>
                                        <script src="{{asset('script/js/plugins/sweetalert/sweetalert.min.js')}}"></script>

                                    {% endblock %}
                                </body>
                            </html>
