{% extends "base.template.html.twig" %}

{% block stylesheets %}
    {{parent()}} 
    {#<link rel="stylesheet" href="{{ asset('/script/slickCarousel/slick-theme.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('/script/slickCarousel/slick.css') }}" />
    <link rel="stylesheet" href="{{ asset('/script/css/templateInspinia.css') }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block title %}
    {{parent()}}
    Accueil
{% endblock %}

{% block body %}
    <header>
        <div class=" sizeScreen ">
            <div class="text-center container titled ">
                <p>Vivez l'art différement</p>
                <h2 class="text-bold">Organisez, participez et découvrez des évènements artistiques cez des particuliers près de chez vous</h2>
            </div>
        </div>
    </header>
    <div class="text-center" id="searchBar">
        <div class="rechercheAcceuil">
            <h2><strong>Je cherche des</strong>
                <select class="test" id="searchWhat">
                    <option value="artist">Artistes</option>
                    <option value="host">Hotes</option>
                    <option value="guest">Invités</option>
                    <option value="expo">Expositions</option>
                    {% if is_granted("ROLE_ARTISTE")%}
                        <option value="place">Lieux</option>
                    {% endif %}
                </select>

                <strong>à </strong>
                <select class="test" id="citiesList">

                </select>
                <a href="recherche"><button style="width:30%;"class="btn btn-outline btn-warning faa-parent animated-hover" type="button">
                        <i class="fa fa-search fa-2x  faa-pulse animated-hover"></i>
                    </button></a>
                    {#             <a href="recherche"><button style="padding-right:100px;" class="test btn btn-lg btn-warning" > <strong>GO</strong> </button></a></h2>#}
        </div></div>
    <div id="results-container">
    </div>
    {#    Section catousel#}
    <section class="container-fluid">
        <h3 class="titleSection"><strong>Les rendez-vous de la semaine</strong></h3>
    </section>
    <section class="container-fluid">

        <article>
            <div style="padding-left:50px;padding-right:50px;"class="your-class">
                {% for expo in listeExpos %}
                    <a href="{{path('getExpoValid',{'id':expo.id})}}">
                        <div class="contentSerie">
                            <img style="background:url('/images/expoPictures/{{expo.img}}');" class="profil img-thumbnail"/>
                        </div>
                    </a>

                {% endfor %}
                {#  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
                  <div class="profil">
  
                  </div>
  #}

            </div>
        </article>

        <article>
            <h3 class="titleSection"><strong>Des artistes à découvrir</strong></h3>
            <div style="padding-left:50px;padding-right:50px;" class="your-class">
                {%for artiste in listeArtistes %}
                    <a href="{{path('profilPublic',{'id':artiste.id})}}">
                        <div class="profil">
                            <img style="background:url('/images/profilPictures/{{artiste.profilpicture}}');" class="profil img-thumbnail"/>
                        </div>
                    </a>
                {%endfor%}
                {#<div class="profil">

                </div>
                <div class="profil">

                </div>
                <div class="profil">

                </div>
                <div class="profil">

                </div>
                <div class="profil">

                </div>
                <div class="profil">

                </div>
                <div class="profil">

                </div>
                <div class="profil">

                </div>
                <div class="profil">

                </div>#}


            </div>
        </article>

    </section>
    {#    Section Video #}
    <section>

        <div class="backgroundBlue container-fluid">
            <h3 class="subTitle colorText text-center">Manifeste du Karism</h3>
            <iframe class="vid col-md-offset-1 col-md-10 col-xs-12"  src="//www.youtube.com/embed/GAQ8PePmN6w" allowfullscreen=""></iframe>
        </div>

    </section>
    {#   Dernier Section:  Les expo selon nous  #}
    <section>
        <h3 class="titleSection2"><strong>Les expo selon nous</strong></h3>
        <div class="container-fluid">
            <div class="containerThumb">
                <div class="thumbnail  col-md-4">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97250&w=200&h=250" alt="...">
                    <div class="caption">
                        <h4 class="colorText">Transformez votre salon en gallerie éphémère</h4>
                        <p class="colorText">Ni clous, ni vis, les artistes scénographient leurs expos sans toucher à vos murs</p>

                    </div>
                </div>
                <div class="thumbnail  col-md-4">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97250&w=200&h=250" alt="...">
                    <div class="caption">
                        <h4 class="colorText">Faites des rencontres</h4>
                        <p class="colorText">C'est le moment idéal pour pour faire des rencontres et parler de vos passions.</p>

                    </div>
                </div>
                <div class="thumbnail  col-md-4">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97250&w=200&h=250" alt="...">
                    <div class="caption">
                        <h4 class="colorText">Vivez un moment hors du temps</h4>
                        <p class="colorText">Pas besoin d'avion pour voyager, laissez-vous surprendre à deux pas de chez vous</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="padding:50px;"class="container">
        <div class="col-md-offset-1 col-lg-5">
            <div class="cl-effect-orange"><a href="recherche"><button id="orangeTag" style="padding:45px;" class="btn btn-block btn-warning faa-parent animated-hover" type="button">
                        <div  style="line-height:15px;">
                            <strong><p>Je veux
                                <p style="font-size: 37px;">EXPOSER</p>
                                mes œuvres</p></strong></div>
                    </button></a></div>
        </div>
        <div class="col-lg-5">
            <div class="cl-effect-blue"><a href="recherche"><button id="blueTag" style="padding:45px;"class="btn btn-block btn-primary faa-parent animated-hover" type="button">
                        <div style="line-height:15px;">
                            <strong><p>J'aimerais 
                                <p style="font-size: 37px;">RECEVOIR </p>
                                un artiste</p></strong></div>
                    </button></a></div></div>

    </div>

{% endblock %}
{% block javascripts %}  
    {{ parent() }}
    <script src="{{asset('script/slickCarousel/slick.js') }}"></script>
    <script src="{{asset('script/js/home.js')}}"></script>
    <script src="{{asset('script/js/rechercheAcceuil.js')}}"></script>
{% endblock %}