{% extends "admin/adminTemplate.html.twig" %}



{% block title %}
    {{parent()}}
    - Edition Profil
{% endblock %}

{% block body %}

<div class="container-fluid " >
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <p><a class="text-warning" href="/profil/{{app.user.id}}">Mon Profil</a> > Edition du profil</p>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Editer mon profil</h3>
                        <form id="editProfil" class="form-horizontal">
                            <p>Nom</p><input type="text" id="firstname" name="caca" class="form-control"/>
                            <p>Prénom</p><input id="lastname" class="form-control"/>
                            <p>Pseudo</p><input id="username" class="form-control" placeholder="adresse"/>
                            <p>Téléphone</p><input id="phone" class="form-control"/>
                            <p>Biographie</p><input id="bio" class="form-control"/>
                            <p>Adresse</p><input id="adress" class="form-control"/>
                            {#        <p>Date de naissance</p><input type="date" id="date" class="col-lg-6"/>#}
                            <select id="genre" class="form-control">
                                <option value="">Sexe</option>
                                <option value="Homme">Homme</option>
                                <option value="Femme">Femme</option></select>
                                {#        <input type="file" id="user_profilPicture" name="user[profilPicture]" class="col-lg-6"/>#}
                            <img id="previewPicture" src="" alt="your image" width="350px" class="col-lg-6"/>

                            <div class="form-control">
                                <input id="validEditProfil" type="submit" value="Editer" class="col-lg-6"/>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6"><h4>Envie de rejoindre notre cercle d'hôtes ?</h4>
                        <p>blabla</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}  
    {{ parent() }}
    <script src="{{ asset('script/js/editProfil.js') }}"></script>
    <script src="{{ asset('script/js/previewImage.js')}}"></script>
{% endblock %}
