{% extends "base.template.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block body %}
    <div>

        <div>
            <a href="{{path('accueilTest')}}" id="exitPlace"><button type="button">Valider Serie</button></a>
        </div>
        {{form_start(PlaceType)}}
        <button class="validPlace" >Valider mon lieu</button>
        {{form_end(PlaceType)}}

    </div>
    <div class="container">
        <div class="row" id="contentPicture">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
{#    <script src="{{asset('script/js/artiste.js')}}"></script>#}
{% endblock %}