{% extends "base.template.html.twig" %}
{% block title %}{{parent()}} - Interrogation{% endblock %}

{% block stylesheets %}
    {{parent()}} 
    {#<link rel="stylesheet" href="{{ asset('/script/slickCarousel/slick-theme.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('/script/slickCarousel/slick.css') }}" />
    <link rel="stylesheet" href="{{ asset('/script/css/templateInspinia.css') }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block body %}
    <h1 class="miseEnForme formTitreCharte colorTitreTextFaq">Une Interogation ?</h1>
    <h2 class="miseEnForme formTitreCharte colorTitreTextFaq">Notre foire aux questions contient certainement la réponse !</h2>

    <div class="miseEnForme container">
        <p class="justifyText colorTitreTextFaq col-xs-12 col-sm-12 col-md-4 col-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Vivamus vel finibus leo, sed sodales justo. 
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Morbi et ornare lorem, at sollicitudin massa. 
            Nulla hendrerit orci et sagittis pretium. 
            Morbi elementum viverra tortor, sed vulputate magna ornare vitae. 
            Aliquam vitae enim lorem. 
            Ut efficitur molestie nunc a porta. 
            Mauris dui felis, molestie sit amet justo a, imperdiet tincidunt nisl. 
            Etiam et nunc nisi. 
            Curabitur sit amet est non magna interdum fringilla eu pretium enim. 
            Mauris consequat, erat in varius egestas, augue arcu rutrum tellus, sed venenatis lacus leo a erat. 
            Sed est odio, lacinia ornare nisi quis, laoreet consequat urna. 
            Proin elementum aliquet augue, ac imperdiet risus congue sed. 
            Vestibulum venenatis eros in vestibulum maximus.
        </p>
        <p class="justifyText colorTitreTextFaq col-xs-12 col-sm-12 col-md-4 col-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Vivamus vel finibus leo, sed sodales justo. 
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Morbi et ornare lorem, at sollicitudin massa. 
            Nulla hendrerit orci et sagittis pretium. 
            Morbi elementum viverra tortor, sed vulputate magna ornare vitae. 
            Aliquam vitae enim lorem. 
            Ut efficitur molestie nunc a porta. 
            Mauris dui felis, molestie sit amet justo a, imperdiet tincidunt nisl. 
            Etiam et nunc nisi. 
            Curabitur sit amet est non magna interdum fringilla eu pretium enim. 
            Mauris consequat, erat in varius egestas, augue arcu rutrum tellus, sed venenatis lacus leo a erat. 
            Sed est odio, lacinia ornare nisi quis, laoreet consequat urna. 
            Proin elementum aliquet augue, ac imperdiet risus congue sed. 
            Vestibulum venenatis eros in vestibulum maximus.
        </p>
        <p class="justifyText colorTitreTextFaq col-xs-12 col-sm-12 col-md-4 col-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Vivamus vel finibus leo, sed sodales justo. 
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Morbi et ornare lorem, at sollicitudin massa. 
            Nulla hendrerit orci et sagittis pretium. 
            Morbi elementum viverra tortor, sed vulputate magna ornare vitae. 
            Aliquam vitae enim lorem. 
            Ut efficitur molestie nunc a porta. 
            Mauris dui felis, molestie sit amet justo a, imperdiet tincidunt nisl. 
            Etiam et nunc nisi. 
            Curabitur sit amet est non magna interdum fringilla eu pretium enim. 
            Mauris consequat, erat in varius egestas, augue arcu rutrum tellus, sed venenatis lacus leo a erat. 
            Sed est odio, lacinia ornare nisi quis, laoreet consequat urna. 
            Proin elementum aliquet augue, ac imperdiet risus congue sed. 
            Vestibulum venenatis eros in vestibulum maximus.
        </p>
    </div>
{% endblock %}
