{% extends "admin/adminTemplate.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}
{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="middle-box text-center loginscreen animated fadeInDown">
                <div>
                    <div>

                        <h4 class="logo-name">logo</h4>

                    </div>
                    <h3>Bienvenue chez KARISM </h3>
                    {#<p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                        <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
                    </p>#}
                    <p>Entrez vos informations de connexion</p>
                    <form action="{{ path('loginCheck') }}" method="post">
                        <div class="form-group">
                            <input type="text" name="_username" id="username" class="form-control" placeholder="Email" value="{{ last_username }}"  required="">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" class="form-control" placeholder="Password" name="_password" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Conéction</button>


                        <a class="btn btn-sm btn-white btn-block" href="{{path('register')}}" >Vous n'êtes pas inscrit ?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}