{% extends "base.template.html.twig" %}

{% block stylesheets %}
    {{parent()}} 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {#<link rel="stylesheet" href="{{ asset('/script/slickCarousel/slick-theme.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('/script/slickCarousel/slick.css') }}" />
    <link rel="stylesheet" href="{{ asset('/script/css/profil.css') }}" />
    <link rel="stylesheet" href="{{ asset('/script/css/templateInspinia.css') }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block title %}
    {{parent()}}
    - {{user.username}}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Profil de {{user.username}}</h1>
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Détail du profil</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img class="img-responsive" src="/web/images/profilPictures/{{user.profilPicture}}">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4 class="text-center"><strong>{{user.username}}</strong></h4>

                            {% if is_granted("ROLE_USER")%}
                                {% if user.id != app.user.id %}
                                    {#                                        {% if is_granted('ROLE_ARTISTE') in user.roles %}#}
                                    <button class="btn btn-danger  dim btn-outline" type="button"><i class="fa fa-star "></i> Ajouter en favori</button>
                                    {#                                {% endif %}#}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Ma présentation </h3>
                        </div>
                        <div class="panel-body text-center">
                            <p>{{user.bio}}</p> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Informations complémentaires</h3>
                        </div>
                        <div class="panel-body text-center">
                            {%if user.artistValidate %}<p>{{user.username}} est un <strong>artiste</strong></p>{% endif %}         
                            {%if user.hoteValidate %}<p>{{user.username}} est un <strong>hôte</strong></p>{% endif %}

                            {%if user.linkFacebook or user.linkInstagram or user.linkTwitter %}
                                <h5>Retrouvez-moi sur les réseaux sociaux</h5>
                                {%if user.linkFacebook %}
                                    <p><a href="{{user.linkFacebook}}" target="_new"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                                        {% endif %}  
                                        {%if user.linkInstagram %}
                                        <a href="{{user.linkInstagram}}" target="_new"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                                        {% endif %}  
                                        {%if user.linkTwitter %}
                                        <a href="{{user.linkTwitter}}" target="_new" ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></p>
                                        {% endif %}  
                                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- /Boxes de Acoes -->
        </div>
    </div>
    {%if user.artistValidate == 1 %}
        {% if series is not empty %}              
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Ses séries</h2>
                        {% for serie in series %}
                            <div class="text-center ibox-content">
                                <div class="col-md-7">
                                    <a href="/serie/{{serie.id}}">
                                        <img class="img-thumbnail" src="/web/images/oeuvrePictures/{{serie.img}}" >
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <h2>{{serie.name}}</h2>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {%if user.hoteValidate == 1 %}
        {% if places is not empty %}              
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Ses lieux</h2>
                        {% for place in places %}
                            <div class="text-center ibox-content">
                                <div class="col-md-7 ">
                                    <a href="/lieu/{{place.id}}">
                                        <img class="img-thumbnail" width="300px" height="200px" src="/web/images/placePictures/{{place.img}}" >
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <h2>{{place.name}}</h2>
                                    <p>Taille : {{place.size}} mètres carré</p>
                                    <p>Capacité : {{place.capacity}} personnes</p>
                                    <p>Adresse : {{place.adress}}</p>
                                    <div class="contact-box"><p>Disponibilité</p>
                                        <p>Début : {{place.availableStart|date("m/d/Y/H:i:s", "Europe/Paris")}}</p>
                                        <p>Fin : {{place.availableEnd|date("m/d/Y/H:i:s", "Europe/Paris")}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
{% block javascripts %}  
    {{ parent() }}
    <script src="{{asset('script/slickCarousel/slick.js') }}"></script>
    <script src="{{asset('script/js/home.js')}}"></script>

{% endblock %}
