{% extends "base.template.html.twig" %}

{% block stylesheets %}
    {{parent()}} 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('/script/css/recherche.css') }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block title %}
    {{parent()}}
    Accueil
{% endblock %}

{% block body %}

    <div id="searchBar">
        <h1>RECHERCHE</h1>
        <select id="searchWhat">
            <option value="artist">Artistes</option>
            <option value="host">Hotes</option>
            <option value="guest">Invités</option>
            {#            <option value="expo">Expositions</option>#}
            {% if is_granted("ROLE_ARTISTE")%}
                <option value="place">Lieux</option>
            {% endif %}

        </select>
        <select id="citiesList">

        </select>
        <button id="searchBtn" >rechercher</button>
    </div>
    <div id="results-container">

    </div>
{% endblock %}
{% block javascripts %}  
    {{ parent() }}
    <script src="{{ asset('script/js/recherche.js') }}"></script>
    <script src="{{asset('script/slickCarousel/slick.js') }}"></script>
    <script src="{{asset('script/js/home.js')}}"></script>
{% endblock %}