{% extends "admin/adminTemplate.html.twig" %}

{% block stylesheets %}
    {{parent()}} 
    <link rel="stylesheet" href="{{ asset('/script/css/recherche.css') }}" />

{% endblock %}

{% block title %}
    {{parent()}}
    - Recherche
{% endblock %}

{% block body %}

    <div class="text-center" id="searchBar">
        <h1>Recherche</h1>
        <div class="recherche ">
            <h2><strong>Je cherche des</strong>
        <select class="test" id="searchWhat">
            <option value="artist">Artistes</option>
            <option value="host">Hotes</option>
            <option value="guest">Invités</option>
            <option value="expo">Expositions</option>
            {% if is_granted("ROLE_ARTISTE")%}
                <option value="place">Lieux</option>
            {% endif %}
        </select>

             <strong>à </strong>
        <select class="test" id="citiesList">

        </select>
             <button class="test btn btn-lg btn-warning" id="searchBtn" > <strong>GO</strong> </button></h2>
    </div></div>
    <div id="results-container">
    </div>
{% endblock %}
{% block footer %}
    {% endblock %}

{% block javascripts %}  
    <script src="{{ asset('script/jquery/jquery.js') }}"></script>
    <script src="{{ asset('script/js/bootstrap.js') }}"></script>
    <script src="{{ asset('script/js/angular.min.js') }}"></script>
    <script src="{{ asset('script/js/recherche.js') }}"></script>
    <script src="{{asset('script/slickCarousel/slick.js') }}"></script>
    <script src="{{asset('script/js/home.js')}}"></script>
{% endblock %}