{% extends "admin/adminTemplate.html.twig" %}
{% block title %}
    {{parent()}}
{% endblock %}
{% block body %}



    <div class="container">
        <div class="row">
            <div class="middle-box text-center loginscreen animated fadeInDown">
                <div>
                    <div>

                        <h4 class="logo-name">logo</h4>

                    </div>
                    <h3>Bienvenue chez KARISM </h3>
                    {#<p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                        <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
                    </p>#}
                    <p>Inscription</p>
                    
                        {{ form_start(form,{ 'attr': {'class': 'form-horizontal'}})}}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder':'Votre Pseudo '}})}}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder':'Votre email '}})}}
                        {{ form_widget(form.password.first, { 'attr': {'class': 'form-control','placeholder':'Votre mots de passe '}})}}
                        {{ form_widget(form.password.second, { 'attr': {'class': 'form-control','placeholder':'Confirmation mots de passe '}})}}
                        {{ form_widget(form.genre, { 'attr': {'class': 'form-control'}})}}
                        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control','placeholder':'Votre Prenom '}})}}
                        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control','placeholder':'Votre Nom '}})}}
                        {{ form_widget(form.phone, { 'attr': {'class': 'form-control','placeholder':'Votre N°Tel '}})}}
                        {{ form_widget(form.bio, { 'attr': {'class': 'form-control','placeholder':'Description'}})}}
                        {{ form_widget(form.adress, { 'attr': {'class': 'form-control','placeholder':'Votre Adresse '}})}}
                        {{ form_widget(form.profilPicture, { 'attr': {'class': 'btn btn-default btn-file'}})}}
                        
                        
                        <img id="previewPicture" src="#" alt="your image" width="350px" />

                        <button type="submit" class="btn btn-primary">S'enregistrer</button>
                        {{ form_end(form) }}                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}        
    {{ parent () }}
    <script src="script/js/previewImage.js"></script>
{% endblock %}

