{% extends "admin/adminTemplate.html.twig" %}
{% block title %}
    {{parent()}}
    - Inscription
{% endblock %}
{% block body %}



    <div class="container">
        <div class="row">
            <div class=" text-center loginscreen animated fadeInDown">

                <div>

                    <h4 class="logo-name"><span class="loading dots3"></span></h4>

                </div>
                <h3>Bienvenue chez KARISM </h3>

                <div class="col-md-6">
                    <p>Inscription</p>
                    {{ form_start(form,{ 'attr': {'class': 'form-horizontal'}})}}
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder':'Votre Pseudo '}})}}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder':'Votre email '}})}}
                    {{ form_widget(form.password.first, { 'attr': {'class': 'form-control','placeholder':'Votre mots de passe '}})}}
                    {{ form_widget(form.password.second, { 'attr': {'class': 'form-control','placeholder':'Confirmation mots de passe '}})}}
                    {{ form_widget(form.genre, { 'attr': {'class': 'form-control'}})}}
                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control','placeholder':'Votre Prenom '}})}}
                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control','placeholder':'Votre Nom '}})}}
                    {{ form_widget(form.phone, { 'attr': {'class': 'form-control','placeholder':'Votre N°Tel '}})}}
                    {{ form_widget(form.bio, { 'attr': {'class': 'form-control','placeholder':'Description'}})}}
                    {{ form_widget(form.fk_city, { 'attr': {'class': 'form-control','placeholder':'Votre ville'}})}}
                    {{ form_widget(form.adress, { 'attr': {'class': 'form-control','placeholder':'Votre Adresse '}})}}
                </div>
                <div class="col-md-6 middle-box" >
                    <h4 class="headerStyle">Style de Préféré</h4>
                    <div class="listStyle">
                        {{ form_widget(form.style, { 'attr': {'class': 'placeholder ','placeholder':'Style'}})}}
                    </div>
                    {{ form_widget(form.profilPicture, { 'attr': {'class': 'btn btn-default btn-file'}})}}


                    <img id="previewPicture" src="#" alt="your image" width="350px" />
                </div>

                <button id="validRegister" type="submit" class="btn btn-primary">S'enregistrer</button>
                {{ form_end(form) }}                    


            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}        
    {{ parent () }}
    <script src="{{ asset('script/js/previewImage.js') }}"></script>
    <script src="{{ asset('script/js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('script/js/plugins/sweetalert/alertRegister.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('script/css/text-spinner/spinners.css') }}" />
    <link rel="stylesheet" href="{{ asset('script/css/sweetalertCss/sweetalert.css') }}" />

{% endblock %}

