{% extends "admin/adminTemplate.html.twig" %}


{% block stylesheets %}
    {{parent()}}
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block body %}
    <div class="container-fluid " >
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Devenez hôte<small> en proposant un lieu</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            
                            {{form_start(PlaceType,{ 'attr': {'class': 'form-horizontal'}})}}
                            {{ form_widget(PlaceType.size, { 'attr': {'class': 'form-control','placeholder':'Dimensions en mètre carré'}})}}
                            {{ form_widget(PlaceType.capacity, { 'attr': {'class': 'form-control','placeholder':"Capacité d'acceuil"}})}}
                            {{ form_widget(PlaceType.adress, { 'attr': {'class': 'form-control','placeholder':"Adresse du lieu"}})}}
                            {{ form_widget(PlaceType.fk_city, { 'attr': {'class': 'form-control'}})}}
                            {{ form_widget(PlaceType.fk_placetype, { 'attr': {'class': 'form-control'}})}}
                            {{ form_widget(PlaceType.available)}}
                            <button id="validPlace" >Valider mon lieu</button>
                            {{form_end(PlaceType)}}

                        </div>
                        <div class="col-sm-6"><h4>Ajouter des photos du lieux ?</h4>
                            <a href=""><button class="btn btn-default">Ajout</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
        <script src="{{asset('script/js/plugins/sweetalert/sweetalert.js')}}"></script>
        <script src="{{asset('script/js/plugins/sweetalert/hoteAlarm.js.js')}}"></script>
{% endblock %}