{% extends "admin/adminTemplate.html.twig" %}

{% block title %}
    {{parent()}}
    - Mes Expos
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="">Mes expos en tant qu'hôte</h1>
        {% for expo in expos %}

            <div class="col-md-12">


                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        <a href="{{path('selcetionExpo',{'id': expo.id}) }}">
                            <button class="btn btn-info btn-outline">
                            <i class="fa fa-pencil-square-o fa-3" aria-hidden="true">
                                Editer l'Exposition
                            </i>
                                </button>
                        </a>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>


                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="container">


                            <div class="col-md-4">
                                <h2>Rappel des informations</h2>
                                <div>Date: <strong>{{expo.date|date("j F à g:i")}}</strong></div>
                                <div>Ville: <strong>{{expo.fkville }}</strong></div>
                                <div>Description: <strong>{{expo.description }}</strong></div>
{#                               <div class="text-center "><img width="75px"class="img-circle" src="/images/expoPictures/{{expo.img }}"/></div>#}

                                    <div style="padding-top:30px;"class="text-center">
                                        <a href="/get/expo/{{expo.id}}/invite">
                                            <button type="button" id="join" class="btn btn-primary btn-outline faa-parent animated-hover ">
                                                <i class="fa fa-user-plus fa-2x faa-pulse" aria-hidden="true"></i>
                                                <p>Gestion d'invités</p>
                                            </button>
                                        </a>
                                    </div>

                            </div>
                            <div class="col-md-3">
                                <h2>
                                    À propos de l'hôte<br>
                                </h2>
                                {% if expo.fk_place != null %}
                                    {% if expo.messageHote != null %}
                                        <div><strong>En attente de votre validation ...</strong></div>
                                        <img class=" img-thumbnail " src="/web/images/placePictures/{{expo.fk_place.img}}" >     
                                    {% else %}
                                        <div><strong>Vous avez validé la demande :)</strong></div>
                                        <img class="img-thumbnail " src="/web/images/placePictures/{{expo.fk_place.img}}" >     
                                    {% endif %}
                                {% else %}
                                    <div> Il n'y a pas demande d'hote ou la dernière demande a été reusée :(</div>
                                {% endif %}
                            </div>
                            <div class="col-md-5">
                                <h2>
                                    Séries de l'expo<br>
                                </h2>
                                <div class="container">
                                    {% if expo.fkserie != null %}
                                        <div class="container">
                                            {% for serieExpo in expo.fkserie %}
                                                <div class="col-md-5">
                                                    <img class=" img-thumbnail " src="/web/images/oeuvrePictures/{{serieExpo.img}}"> 
                                                </div>

                                            {% endfor %}
                                        </div>
                                    {% endif %} 

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="ibox-footer text-center">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock%}
{% block footer %}
    {% endblock %}