{% extends "admin/adminTemplate.html.twig" %}
{% block title %}
    {{parent()}}
    - Exposition
{% endblock %}
{% block nav %}

    <div class="row step">

        <a href="{{path('editeInfoExpo')}}">
            <div class="col-md-3">
                <span class="fa fa-pencil-square-o"></span>
                <p>Generale</p>
            </div>
        </a>
        <a href="{{path('listePlace')}}">
            <div class="col-md-3 ">
                <span class="fa fa-home"></span>
                <p>Lieux</p>
            </div>
        </a>
        <a href="{{path('expoSerie')}}">
            <div class="col-md-3">
                <span class="fa fa-picture-o"></span>
                <p>Série</p>
            </div>
        </a>
        <a href="{{path('detailleExpo')}}">
            <div id="last" class="col-md-3 activestep">
                <span class="fa fa-id-card"></span>
                <p>Récap</p>
            </div>
        </a>
    </div>

{% endblock%}

{% block body %}


    <div class="container">
        <div class="row">
            <div>
                <img class="middle-box img-responsive"src="/web/images/expoPictures/{{expo.img}}">
            </div>
            <div class="middle-box">
                <h3>Rappel des informations</h3>
                <div> Date: {{expo.date|date("j F à g:i")}}</div>
                <div> Ville: {{expo.fkville }}</div>
                <div>Description: {{expo.description }}</div>
            </div>

            <div class="middle-box">
                <h3>Serie Sélectionées</h3>
                {% for serieExpo in expo.fkserie %}
                    <img class="col-sm-2 img-responsive" src="/web/images/oeuvrePictures/{{serieExpo.img}}" >
                {% endfor %}
            </div>

            <div class="middle-box">
                <h3>Hôte</h3>

                {#Verification statue de la demande de l'hote#}
                {% if expo.fk_place != null %}
                    {% if expo.messageHote != null %}
                        <div>En atente de validation de l'hote:|</div>
                        <img class=" img-thumbnail " src="/web/images/placePictures/{{expo.fk_place.img}}" >     
                        <div>{{expo.fk_place.name}}</div>
                    {% else %}
                        <div>L'hote a validée la demande ! :)</div>
                        <img class=" img-thumbnail " src="/web/images/placePictures/{{expo.fk_place.img}}" >     
                        <div>{{expo.fk_place.name}}</div>
                    {% endif %}
                {% else %}
                    <div> Il n'y a pas demande d'hote ou la dernier demande a etait refuser :(</div>
                {% endif %}

            </div>

            <div class="container-fluid">


                {% if expo.fk_place != null %}
                    {% if expo.messageHote == null %}
                        <div class="middle-box">
                            <div class=" col-sm-3">
                                <h3>Artiste</h3>
                                {% if expo.artisteValid != true %}
                                    <div  class="widget red-bg reponseBlock">. . .</div>
                                {% else %}
                                    <div  class="widget navy-bg  reponseBlock">OK !</div>
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                <h3>Hote</h3>
                                {% if expo.hoteValid != true %}
                                    <div  class="widget red-bg reponseBlock">. . .</div>
                                {% else %}
                                    <div  class="widget navy-bg reponseBlock">OK !</div>
                                {% endif %}
                            </div>



                            <div class="middle-box">
                                <a href="{{path('validActeurExpo')}}"><input  type="submit" value="Changer d'etat  "  class="btn btn-success" ></a>
                            </div>

                        </div>

                    {% endif %}
                {% endif %}


            </div>
            <div class="ibox-footer"> 

                {% if  is_granted("ROLE_ARTISTE")%}
                    <a href="{{path('selcetionListeExpo')}}"><input type="submit" value="Retour liste série artiste " class=" btn btn-danger" ></a>

                {% endif %}
                {% if  is_granted("ROLE_HOTE") %}
                    {% if not is_granted("ROLE_ARTISTE") %}
                        <a href="{{path('demandeExpos')}}"><input type="submit" value="Retour liste série hote " class=" btn btn-danger" ></a>
                        {% endif %}
                    {% endif %}




                {% if expo.artisteValid == true and expo.hoteValid == true %}
                    <a href="{{path('valideExpo')}}"><input type="submit" value="Validation expo"  class=" btn btn-success" ></a>

                {% else %}

                {% endif %}
            </div>
        </div>


    </div>


{% endblock %}