{% extends "admin/adminTemplate.html.twig" %}


{% block body %}
    <a href="{{path('getSeriesUser')}}"><input type="submit" value="Ajouts serie" class="btn btn-default" ></a>
    <div class="container">
        <div class="col-sm-6 col-md-2">

            {% for serieExpo in listesSerieExpo %}
                <div class="thumbnail">
                    <p>{{serieExpo.name}}</p>
                    <a href="/edit/picture/serie/{{serieExpo.id}}">
                        <img class="img-responsive" src="/web/images/oeuvrePictures/{{serieExpo.img}}" >
                    </a>
                    <a href="{{path('suprSerieExpo',{'id': serieExpo.id }) }}">
                        <i class="  fa fa-trash fa-6" aria-hidden="true"></i>
                    </a>
                    
                </div>
            {% endfor %}

        </div>
    </div>
     <a href=""><input type="submit" value="Choix de l'hote" class="btn btn-default" ></a>
{% endblock %}
