{% extends "admin/adminTemplate.html.twig" %}

{% block stylesheets %}
    {{parent()}} 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('/script/css/recherche.css') }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block title %}
    {{parent()}}
    - Exposition
{% endblock %}

{% block nav %}

    <div class="row step">

        <a href="{{path('editeInfoExpo')}}">
            <div class="col-md-3">
                <span class="fa fa-pencil-square-o"></span>
                <p>Generale</p>
            </div>
        </a>
        <a href="{{path('listePlace')}}">
            <div class="col-md-3 activestep">
                <span class="fa fa-home"></span>
                <p>Lieux</p>
            </div>
        </a>
        <a href="{{path('expoSerie')}}">
            <div class="col-md-3">
                <span class="fa fa-picture-o"></span>
                <p>Série</p>
            </div>
        </a>
        <a href="{{path('detailleExpo')}}">
            <div id="last" class="col-md-3 ">
                <span class="fa fa-id-card"></span>
                <p>Récap</p>
            </div>
        </a>
    </div>

{% endblock%}

{% block body %}


    <div id="searchBar"  class="ibox-title"> 
        <h1>RECHERCHE</h1>
        <select id="searchWhat" class="inputHiden">

            {% if is_granted("ROLE_ARTISTE")%}
                <option  value="place">Lieux</option>
            {% endif %}

        </select>
        <select id="citiesList">

        </select>
        <button id="searchBtn" >rechercher d'hote</button>
    </div>

    <div id="results-container" class="container">

    </div>
            {% if  is_granted("ROLE_ARTISTE")%}
                <a href="{{path('selcetionListeExpo')}}"><input type="submit" value="Retour liste série artiste " class=" btn btn-danger" ></a>

            {% endif %}
            {% if  is_granted("ROLE_HOTE") %}
                {% if not is_granted("ROLE_ARTISTE") %}
                    <a href="{{path('demandeExpos')}}"><input type="submit" value="Retour liste série hote " class=" btn btn-danger" ></a>
                {% endif %}
            {% endif %}
{% endblock %}
{% block javascripts %}  
    {{ parent() }}
    <script src="{{ asset('script/js/recherche.js') }}"></script>
    <script src="{{asset('script/slickCarousel/slick.js') }}"></script>
    <script src="{{asset('script/js/home.js')}}"></script>
{% endblock %}