{% extends "admin/adminTemplate.html.twig" %}

{% block stylesheets %}
    {{parent()}} 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('/script/css/recherche.css') }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block title %}
    {{parent()}}
    Accueil
{% endblock %}

{% block body %}

                    <a href="{{path('expoSerie')}}"><input type="submit" value="liste serie" class="btn btn-default" ></a>
                    <a href="{{path('detailleExpo')}}"><input type="submit" value="Detaille expo" class="btn btn-default" ></a>
    <div id="searchBar"  class="ibox-title"> 
        <h1>RECHERCHE</h1>
        <select id="searchWhat" class="inputHiden">

            {% if is_granted("ROLE_ARTISTE")%}
                <option  value="place">Lieux</option>
            {% endif %}

        </select>
        <select id="citiesList">

        </select>
        <button id="searchBtn" >rechercher d'hote</button>
    </div>
            
            <div id="results-container" class="container">

    </div>
{% endblock %}
{% block javascripts %}  
    {{ parent() }}
    <script src="{{ asset('script/js/recherche.js') }}"></script>
    <script src="{{asset('script/slickCarousel/slick.js') }}"></script>
    <script src="{{asset('script/js/home.js')}}"></script>
{% endblock %}