{% extends "admin/adminTemplate.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <meta name="viewport" content="width=device-width, user-scalable=no">

{% endblock %}

{% block body %}

    <div class="container-fluid " >
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {% if is_granted('ROLE_ADMIN') is  empty %}
                        <h5>Devenez artiste <small> en proposant une serie </small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    {% endif %}
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            {% if is_granted('ROLE_ADMIN') is  empty %}
                                {{form_start(formPicture,{ 'attr': {'class': 'form-horizontal'}})}}
                                {{ form_widget(formPicture.nom, { 'attr': {'class': 'form-control','placeholder':'Votre nom'}})}}
                                {{ form_widget(formPicture.size, { 'attr': {'class': 'form-control','placeholder':'Taille'}})}}
                                {{ form_widget(formPicture.prix, { 'attr': {'class': 'form-control','placeholder':'Prix'}})}}
                                {{ form_widget(formPicture.expos, { 'attr': {'class': 'form-control'} })}}
                                {{ form_widget(formPicture.commentaire, { 'attr': {'class': 'form-control','placeholder':'Commentaire'} })}}
                                <div class="col-md-4" >
                                    <h4 class="headerStyle">Style</h4>
                                    <div class="listStyle">
                                        {{ form_widget(formPicture.style, { 'attr': {'class': 'placeholder ','placeholder':'Style'}})}}
                                    </div>
                                </div>
                                <div class="col-md-4" >
                                    <h4 class="headerStyle">Techniques</h4>
                                    <div class="listStyle">
                                        {{ form_widget(formPicture.techniques, { 'attr':  {'class': 'placeholder ','placeholder':'Techniques'}})}}
                                    </div>
                                </div>
                                <div class="col-md-4" >
                                    <h4 class="headerStyle">Genres</h4>
                                    <div class="listStyle">
                                        {{ form_widget(formPicture.genres, { 'attr': {'class': 'placeholder ','placeholder':'Genres'}})}}
                                    </div>
                                </div>
                                {{ form_widget(formPicture.img, { 'attr': {'class': 'btn btn-default btn-file'}})}}

                                <button class="validPicture btn btn-primary block full-width m-b" >Valider l'image</button>
                                <div>
                                    <a href="{{path('accueilTest')}}" id="exitSerie"><button class="btn btn-sm btn-white btn-block "type="button">Valider la série</button></a>
                                </div>
                                {{form_end(formPicture)}} 

                                {#            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><{strong>Log in</strong></button>
                                             <label> <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember me </label>
                                #} </div>
                            <div class="col-sm-6">
                                <h4>Envie de rejoindre notre cercle d'artiste ?</h4>
                                <div>
                                    <h4>Suggestion Style</h4>
                                     <input id="suggestName"/>
                                     <select id="suggestType">
                                     </select>
                                     <button id="validSuggest">Suggérer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container gray-bg">
        <div class="row" id="contentPicture">

        </div>
    </div>
    


{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('script/js/artiste.js')}}"></script>
    <script src="{{asset('script/js/suggestion.js')}}"></script>
{% endblock %}