{% extends "admin/adminTemplate.html.twig" %}

{% block body %}

    <form action="{{ path('valideNomSerie')}}" method="post">
        <input type="text" name="nomSerie"  placeholder="Nom de la nouvelle serie">
        <input type="submit">
    </form>
        <div class="container-fluid">
    {% for serie in series %}
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <a href="/edit/picture/serie/{{serie.id}}">
                    <img class="img-thumbnail" src="/web/images/oeuvrePictures/{{serie.img}}" >
                    <div>
                    <a href="/artiste/remove/serie/{{serie.id}}"><i class="  fa fa-trash fa-6" aria-hidden="true"></i></a>
                    <p>{{serie.name}}</p>
                    </div>
            </div>
        </div>
      

    {% endfor %}
      </div>
{% endblock %}